<div class="panel panel-default">
  <div class="panel-body">
    <h1>Hello World</h1>
    <p>Welcome to Sinatra template. This project combines Sinatra with Grunt and many other conviences. Check the README.md for more information.</p>
  </div>
</div>