<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Hello World</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//bootswatch.com/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="/bower/bootstrap-sweetalert/lib/sweet-alert.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Scripts -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <%= ERB.new(File.read("./app/views/components/header.erb")).result(binding) %>

        <div class="row">
          <div class="col-xs-12">
            <%= yield %>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>