<div class="panel panel-default">
  <div class="panel-body">

    <form id="signup-form" action="/signup" method="POST">
      <div class="form-group">
        <label for="username" required>Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="johnsmith">
      </div>
      <div class="form-group">
        <label for="email" required>Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="john@example.com">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password">
      </div>
      <div class="form-group">
        <label for="password">Repeat Password</label>
        <input type="password" name="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-success pull-right">Signup</button>
    </form>

  </div>
</div>